@media print {
    @page {
        size: A4;
        size: portrait;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    #column1 {
        background-color: var(--emerald_green, #27592D) !important;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
    }
    
    
    main {
        margin-top: 0;
    }

    img,
    .avitar {
        display: none;
    }

    #mainLeft {
        border-right: 0;
    }

    .printable {
        display: block;
    }

    .viewable {
        display: none;
    }
}
