@media print {
    @page {
        size: A4;
        size: portrait;
    }

    img,
    .avitar {
        display: none;
    }

    hr {
        display: none;
    }

    #mainLeft {
        border-right: 0px;
    }

    #contactLeft {
        display: block;
    }

    #contactRight {
        display: none;
    }
}
